body {
  font-family: $font-family;
  font-size: 15px;
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  flex: 2;
  overflow-y: scroll;
}

.sidebar-body {
  padding: 20px;
  width: 100%;
}

.main{
  flex: 5
}

.header {
  background: $primary-color;
  padding: 20px;
  color: $white;
  h2 {
    font-size: 20px;
  }
}